@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import '../../../styles/colors';
@import '../../../styles/variables';

:host {
  header {
    height: $navbar-height;
    width: 100vw;
    max-width: 100%;
    display: flex;
    .logo-icon {
      width: 3.5rem;
      height: 100%;
      background: $purple;
    }
    .logo-icon, .logo, .search-container, .avatar-container {
      display: flex;
      align-items: center;
    }
    .logo-icon, .logo, .avatar-container {
      justify-content: center;
    }
    .logo {
      flex: 3;
      h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
      }
    }
    .search-container {
      justify-content: flex-end;
      padding: 0 1rem;
      flex: 12;
      @media (max-width: 768px) {
        flex: 8;
      }
    }
    .avatar-container {
      flex: 1;
    }
  }
}
