<header>
  <div class="logo-icon has-background-">
    <span class="icon is-large has-text-primary">
      <i class="fas fa-2x fa-book"></i>
    </span>
  </div>
  <div class="logo">
    <h2>QuoteManager</h2>
  </div>
  <div class="search-container">
    <div class="control has-icons-right">
      <label>
        <input class="input is-primary" type="text" placeholder="Search">
      </label>
      <span class="icon is-small is-right">
        <i class="fas fa-search"></i>
      </span>
    </div>
  </div>
  <div class="avatar-container">
    <span class="icon is-large">
      <i class="fas fa-2x fa-user-circle"></i>
    </span>
  </div>
</header>
