@import '../../../node_modules/bulma/sass/utilities/initial-variables.sass';
@import '../../../node_modules/bulma/sass/utilities/functions';

$primary: #FFBF00;
$primary-invert: black;

body {
  margin: 0;
}

@import '../../../node_modules/bulma/bulma.sass';
