<aside class="sidebar-container" data-test="aside">
	<button class="button is-white" data-test="add-quote-btn"
		routerLinkActive="is-primary"
		routerLink="/quotes/edit">
		<span class="icon">
			<i class="fas fa-plus"></i>
		</span>
		<p>Add quote</p>
	</button>
	<button class="button is-white" data-test="daily-quote-btn"
		routerLinkActive="is-primary"
		routerLink="/quotes/daily">
		<span class="icon">
			<i class="far fa-heart"></i>
		</span>
		<p>Daily quote</p>
	</button>
	<button class="button is-white" data-test="book-quotes-btn"
		routerLinkActive="is-primary"
		routerLink="/books/quotes">
		<span class="icon">
			<i class="fas fa-bookmark"></i>
		</span>
		<p>Book quotes</p>
	</button>
	<button class="button is-white" data-test="all-quotes-btn"
		routerLinkActive="is-primary"
		routerLink="/quotes/all">
		<span class="icon">
			<i class="fas fa-list"></i>
		</span>
		<p>All quotes</p>
	</button>
	<button class="button is-white" data-test="books-list-btn"
		routerLinkActive="is-primary"
		routerLink="/books/list">
		<span class="icon">
			<i class="far fa-clock"></i>
		</span>
		<p>Books list</p>
	</button>
</aside>
