<aside class="sidebar-container">
  <button class="button">
    <span class="icon">
      <i class="fas fa-plus"></i>
    </span>
    <p>Add quote</p>
  </button>
  <button class="button is-outlined">
    <span class="icon">
      <i class="far fa-heart"></i>
    </span>
    <p>Daily quote</p>
  </button>
  <button class="button is-outlined">
    <span class="icon">
      <i class="fas fa-bookmark"></i>
    </span>
    <p>Book quotes</p>
  </button>
  <button class="button is-outlined">
    <span class="icon">
      <i class="fas fa-list"></i>
    </span>
    <p>All quotes</p>
  </button>
  <button class="button is-outlined">
    <span class="icon">
      <i class="far fa-clock"></i>
    </span>
    <p>Add quote</p>
  </button>
</aside>
