<aside class="sidebar-container" data-test="aside">
  <button class="button is-white" data-test="add-quote-btn">
    <span class="icon">
      <i class="fas fa-plus"></i>
    </span>
    <p>Add quote</p>
  </button>
  <button class="button is-white" data-test="daily-quote-btn">
    <span class="icon">
      <i class="far fa-heart"></i>
    </span>
    <p>Daily quote</p>
  </button>
  <button class="button is-white" data-test="book-quotes-btn">
    <span class="icon">
      <i class="fas fa-bookmark"></i>
    </span>
    <p>Book quotes</p>
  </button>
  <button class="button is-white" data-test="all-quotes-btn">
    <span class="icon">
      <i class="fas fa-list"></i>
    </span>
    <p>All quotes</p>
  </button>
  <button class="button is-white" data-test="books-list-btn">
    <span class="icon">
      <i class="far fa-clock"></i>
    </span>
    <p>Books list</p>
  </button>
</aside>
