@import '../../../styles/variables';

:host {
  width: 4rem;
  height: calc(100vh - #{$navbar-height});
  display: flex;
  flex-direction: column;
  .button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 4rem;
    width: 4rem;
    border-radius: 0;
    span {
      margin: 0;
    }
    p {
      font-size: 0.6rem;
    }
  }
}
