<app-navbar></app-navbar>
<div class="app-container">
  <app-sidebar></app-sidebar>
  <section class="content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet feugiat eros ut condimentum. Quisque sit amet viverra odio. Donec aliquam finibus arcu, vel porttitor lectus malesuada efficitur. Quisque ac justo id lorem cursus hendrerit et at ex. Sed aliquam in libero nec porta. Vestibulum mollis mattis aliquet. Proin congue dui tincidunt blandit aliquet.

    Aenean vestibulum, elit id dignissim lacinia, sapien massa efficitur libero, quis tincidunt tellus orci vestibulum nisl. Ut vitae nunc pulvinar, rhoncus neque a, tincidunt dui. Phasellus fringilla lectus non leo tincidunt hendrerit. Vestibulum sed massa pulvinar magna consequat dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In consequat fermentum euismod. Maecenas vel massa vulputate nulla pellentesque vehicula nec quis est.

    Proin volutpat orci neque, ut tincidunt elit tempus eget. Suspendisse eu pretium felis. Vestibulum facilisis sed ante at pretium. Morbi leo felis, ultricies eu mi id, consectetur tincidunt magna. Praesent facilisis sed lorem ut molestie. Integer posuere rutrum ex aliquam dignissim. Nunc maximus at velit et dapibus. Aenean congue posuere elit, vitae semper ante efficitur sed. Quisque sit amet ante eu lectus accumsan molestie sed eu justo. Fusce venenatis nunc in tortor tempor tincidunt. Nulla facilisi. Proin sollicitudin diam leo, vitae ultricies magna aliquam at. Phasellus pellentesque porta tellus, at porta sapien accumsan nec.
  </section>
</div>
