@import '../styles/colors';

:host {
  .app-container {
    margin: 0;
    display: flex;
    text-align: center;
    .content {
			background: $accent-grey;
			width: 100%;
    }
		.container {
			max-width: 42rem;
			margin-top: 3rem;
			padding: 0 1rem;
		}
  }
}
