$background-white: #fcfcfc;
$background-grey: #f5f5f5;
$light-green: #EDFFEC;
$yellow: #ffdd33;
$light-yellow: #ffec99;
$purple: #8338EC;
$light-purple: #b48deb;
$green: #61E786;

$grey-font: #87827d;
